.homesweet{
background-color: #3b3b3b;
font-size: 5vh;


}

.MyDiv{
    color: #00ffff;
    text-align: center;

    
}


.allvideodiv{

    position: absolute;
left: 30vh;

}

.allvideocss{

background-color: #3b3b3b;
}